
.cours-container{
   padding-top: 20px;
   margin: 50px;
   box-shadow: 10px 10px 10px 10px lightgray;
   border-radius: 10px;
   padding-bottom: 20px;
}
.cours-container img{
    width: 200px;
    border-radius: 10px;
}
.cours-btn{
    border: none;
    background-color: goldenrod;
    padding: 5px 25px;
    border-radius: 5px;
}