/* .mainheader-container{
    position: fixed;
} */

.nav-container{

    color: white;
    padding: 10px 0;
    margin-bottom: 50px;
}
.company-name{
    margin-right: 120px;
    
}
.company-name h2{
   color: black;
   font-weight: 600;
    
}
.nav-titile{
    size: 30px;
    font-weight: 600;
}
.nav-titile:hover{
    color: black;
    border-bottom: 3px solid white;
    border-radius: 5px;
}




.company-name .title {
    size: 40px;
}